#content-panel {
  background-color: white;
  border-radius: var(--shape-border-radius);
  display: grid;
  gap: 2rem;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

#preview {
  aspect-ratio: calc(21 / 29.7);
  border: none;
  border-radius: var(--shape-border-radius);
  height: 80%;
}

#preview-panel {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
